body { background-color:#FEE6A7; color:#575757; font-family:Arial; }
h1 { color:#804000; font-family:Arial; font-size:13pt; padding-left: 3px; }
h2 { color:#004000; font-family:Arial; font-size:12pt; padding-left: 4px; }
h3 { color:#004000; font-family:Arial; font-size:11pt; padding-left: 5px; }
h3.subheading { color:#004000; font-family:Arial; font-size:11pt; padding-left: 5px; }
p.tagline { color:#EE2222; font-family:Helvetica; font-size:14pt; font-weight:bold; }
p.content-normal { color:#212121; font-family:Arial; font-size:0.9em; padding-left: 15px; padding-bottom: 12px; }
p.content-small { color:#212121; font-family:Arial; font-size:0.8em; padding-left: 15px; padding-bottom: 12px; }
p.heading { color:#BE8E3E; font-family:Arial; font-size:10.5pt; font-weight:bold; padding-left: 5px; }
p.namo-list { color:#804000; font-family:Arial; font-size:12; }
p.namo-sublist { color:#C47E20; font-family:Arial; font-size:10; }
table.namo-table { border-left-color:#DCB67C; border-top-color:#DCB67C; border-right-color:#6B5521; border-bottom-color:#6B5521; }
table.namo-table td { border-left-color:#6B5521; border-top-color:#6B5521; border-right-color:#DCB67C; border-bottom-color:#DCB67C; }
table.namo-table th { background-color:#F5C66B; border-left-color:#6B5521; border-top-color:#6B5521; border-right-color:#DCB67C; border-bottom-color:#DCB67C; }
span.namo-link, a:link { color:#FF8000; text-decoration:underline; }
span.namo-visited, a:visited { color:#9D8A7B; text-decoration:underline; }
span.namo-active, a:active { color:#804040; text-decoration:underline; }
li.namo-list1 { list-style-image:url('nav/bullet1.gif'); }
li.namo-list2 { list-style-image:url('nav/bullet2.gif'); }

table.photo-table td.photo { background-color:#FFCC77; text-align:center; vertical-align:middle; }
table.photo-table td.label { text-align:center; vertical-align:bottom; }

a:link { color: #6e6e6e; }
a:visited { color: #6e6e6e; }
a:focus { color: #3b3b3b; }
a:active { color: #4c4c4c; }
a:hover { color: #2a2a2a; }
div.copyright {font-size:0.75em; margin:5px; }
div.copyright a:link { color: #4c4c4c; }
div.copyright a:visited { color: #4c4c4c; }
div.copyright a:focus { color: #191919; }
div.copyright a:active { color: #2a2a2a; }
div.copyright a:hover { color: #080808; }
div.bottom-navbar {font-size:10pt; margin:2px; color:#191919; }

@media print {
   div.top-navbar { display: none; }
   div.bottom-navbar { display: none; }
}

